.bg__image {

    @media screen and (max-width: 768px) {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: rgba(var(--dark-bg-color-rgb), 0.3);
        }
    }
}

.load_more_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    outline: none;
    border-radius: 0.375rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-primary-color);
    color: var(--text-color);
    font-size: .8em;
    margin: .5em 0 0 1em;
    z-index: 10;
}

.courses {
    .accordion {
        .accordion-item {
            border: 1px solid var(--border-primary-color);
            margin: 10px 0;
            border-radius: 4px;

            .accordion-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                cursor: pointer;
                background-color: var(--tertiary-color);
                transition: background-color 0.3s;

                &.active {
                    background-color: var(--dark-tertiary-color);
                }

                svg {
                    font-size: 1.2rem;
                    transition: transform 0.3s;
                }
            }

            .accordion-content {
                max-height: 0;
                overflow: hidden;
                padding: 0 10px;
                /* Remove default padding */
                border-top: 1px solid var(--border-primary-color);
                background-color: var(--tertiary-color);
                transition: max-height 0.5s ease, padding 0.5s ease;
                /* Updated transition */

                .points {
                    list-style-type: circle;
                    padding-left: 1em;
                    color: var(--dark-primary-color);
                }

                &.open {
                    max-height: 1000px;
                    /* Set a maximum height to allow for sliding */
                    padding: 10px;
                    /* Restore padding on open */
                }
            }
        }
    }
}

.courseInfo {
    padding: 1em 3em 1em 3em;
    z-index: 99;
    margin-top: -5%;
    position: relative;

    .about {
        .points {
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style-type: circle;
            padding-left: 1em;
            gap: .5em;
            color: var(--dark-primary-color);
        }
    }

    .outcomes {
        margin-top: 2em;

        .careerInfo {
            display: flex;
            align-items: center;
            gap: 1em;
        }

        .certificate {
            background: var(--tertiary-color);
            border: 1px solid var(--border-primary-color);
            border-radius: 12px;
            margin: 3em 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;

            .textContent {
                width: 50%;
                padding: 1em;

                p {
                    width: 80%;
                }
            }

            .ImgContent {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;
                height: 100%;

                .certificateImg {
                    height: 150%;
                    width: 60%;
                    border-radius: 12px;
                    margin-right: 1em;
                }
            }
        }

        .outcomesTextContent,
        .outcomesImgContent {
            width: 50%;
        }

        .outcomesImgContent {
            background: var(--tertiary-color);
            border: 1px solid var(--border-primary-color);
            border-radius: 12px;
            position: relative;
            padding: .5em;
        }

        .benefits {
            padding-left: 2em;
            list-style-type: circle;
            color: var(--dark-primary-color);
        }

        .Img {
            height: 30vh;
            width: 100%;
            border-radius: 12px;
        }

        .outcomeInfo {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 1em .5em;

            div {
                width: 33.33%;
                text-align: center;
                border-right: 2px solid var(--border-primary-color);

                &:last-child {
                    border-right: none;
                }
            }

            p {
                color: var(--dark-primary-color);
            }
        }

    }

    .filter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--tertiary-color);
        border-radius: 12px;
        padding: .5em;
        border: 1px solid var(--border-primary-color);

        .filterText {
            cursor: pointer;
            padding: .5em;
        }

        .filterText:hover {
            background-color: var(--dark-hover-color);
            transition: all .5s ease;
            border-radius: 12px;
        }

        .filterText:not(:hover) {
            background-color: transparent;
            transition: all .5s ease;
            border-radius: 0px;
        }
    }
}